---
import Base from "../layouts/Base.astro";
const events = [
 {
     title: "Conférence sur les astres",
     date: "Lundi 12 Juillet",
     favori: true,
 },
 {
     title: "Atelier sur les étoiles",
     date: "Mardi 13 Juillet",
     favori: false,
 },
];
---

<Base title="Accueil">
    <h1 class="text-4xl my-4">Agenda</h1>
</Base>
