---
import Card from "../components/Card.astro";
import Base from "../layouts/Base.astro";
import { allMaisons } from "../../backend.mjs";
const offres = await allMaisons();
---

<Base title="Offres">
    <h1 class="text-4xl my-4">Découvrez toutes les offres</h1>
    <p>
        Explorez notre sélection exclusive de biens immobiliers. Que vous
        recherchiez une maison familiale, un appartement moderne ou un local
        professionnel, notre page "Offres" regroupe des opportunités variées
        adaptées à tous les projets. Utilisez nos filtres personnalisés pour
        affiner votre recherche et découvrez des propriétés qui répondent à vos
        critères. Votre futur bien n’attend plus que vous !
    </p>

    <div x-data="{showFav: false, grid : true}">
        <button
            @click="showFav = !showFav"
            class="border rounded bg-gray-200 p-1 m-2"
            :class="{'bg-blue-200':showFav}"
        >
            <span x-show="showFav">Afficher les favoris</span>
            <span x-show="!showFav">Afficher tout</span>
        </button>
        <button
            @click="grid = !grid"
            class="border rounded bg-gray-200 p-1 m-2"
            :class="{'bg-blue-200':showFav}"
        >
            <span x-show="grid">Afficher en liste</span>
            <span x-show="!grid">Afficher en grid</span>
        </button>

        <div x-show="showFav" x-transition class="gap-4" :class="grid ? 'grid grid-cols-3':'flex flex-col'">
            {offres.map((offre) => <Card {...offre} />)}
        </div>
        <div x-show="!showFav" x-transition class="gap-4" :class="grid ? 'grid grid-cols-3':'flex flex-col'">
            {offres.map((offre) => offre.favori && <Card {...offre} />)}
        </div>
    </div>
</Base>
