<footer class="absolute bottom-0  bg-black text-white w-full p-4">
    <ul>
        <li>
            <p class="text-xs">Nous contacter</p>
        </li>
        <li>
            <p class="text-xs">À porpos</p>
        </li>
        <li>
            <p class="text-xs">Mentions légales</p>
        </li>
    </ul>
</footer>