<footer class="bottom-0  bg-black text-gray-300 w-full p-4">
    <ul>
        <li>
            <p class="text-xs m-1">Nous contacter</p>
        </li>
        <li>
            <p class="text-xs m-1">À propos</p>
        </li>
        <li>
            <p class="text-xs m-1">Mentions légales</p>
        </li>
    </ul>
</footer>